ALTER TABLE students ADD COLUMN IF NOT EXISTS budget_per_hour NUMERIC; ALTER TABLE students ADD COLUMN IF NOT EXISTS preferred_days TEXT[]; ALTER TABLE students ADD COLUMN IF NOT EXISTS preferred_time TEXT; ALTER TABLE students ADD COLUMN IF NOT EXISTS gender_preference TEXT;
